*{
    
}
body{
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
}

.wrapper{
    display: flex;
    justify-content: center;
    
    
  }

  
  #wrapperPlay{
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 10vh;
    text-align: center;
    color: #ffffff;
    font-size: 2em;
    font-family:Arial, Helvetica, sans-serif;
    transition: 1s;
    background-color: #9054a8;
    border-color: #9054a8;
    width: 200px;
    border-radius: 100px;
    filter: drop-shadow(0 0mm 20mm rgb(91, 54, 255));
    
    
    
  }

  img{
    width: 100px;
  }

  #button{
    text-align: center;
    width: 10vw;
    transition: 1s;
    
           
           
}

#im{
  filter: drop-shadow(0 10mm 20mm rgb(255, 248, 149));
}
#button2{
  position: absolute;
  text-align: center;
  width: 10vw;
         
         
}
  
  #button:hover{
    cursor: pointer ;
  }
  
 
  .hide{
     
    visibility: hidden;
  }
  


  .back{
    filter: drop-shadow(0 10mm 20mm rgb(91, 54, 255));
  }

  .reveal{
    visibility: visible;
    
  
    
  }

  #welcome{
    margin-top: 15vh;
    text-align: center;
    color: white;
    font-size: 3em;
    font-family:Arial, Helvetica, sans-serif;
    transition: 1s;
  }
  #welcomemessage{
    margin-top: 15vh;
    text-align: center;
    color: white;
    font-size: 2em;
    font-family:Arial, Helvetica, sans-serif;
    transition: 1s;
    
  }

  .welcomeback{
    opacity: 20%;
    transition: 1s;
  }

  #welcomehide{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #9054a8;
    opacity: 90%;
    text-shadow:
    0 0 50px rgb(168, 91, 240);
    
  }

  #searchBar{
    
    position: absolute;
    right: 4vw;
    top:3vh;
    width: 5vw;
    color: #9054a8;
  }

  #searchBar{
    opacity: 50%;
    border-radius: 10px;
    
  }
