*{
    
}
body{
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
}

.wrapper{
    display: flex;
    justify-content: center;
    
    
  }

  img{
    width: 100px;
  }

  #button{
    filter: drop-shadow(0 10mm 20mm rgb(255, 248, 149));
    text-align: center;
    width: 10vw;
    transition: 1s;
    
           
           
}
#button2{
  position: absolute;
  text-align: center;
  width: 10vw;
         
         
}
  
  #button:hover{
    cursor: pointer ;
  }
  
 
  .hide{
    visibility: hidden;
    transition: 1s;
  }
  


  .back{
    visibility: visible;
    background-color: #1a1a1a;
    filter: drop-shadow(0 10mm 20mm rgb(91, 54, 255));
    transition: 1s;
  }

  .reveal{
    visibility: visible;
    transition: 1s;
    
  }

  #welcome{
    margin-top: 15vh;
    text-align: center;
    color: white;
    font-size: 3em;
    font-family:Arial, Helvetica, sans-serif;
    transition: 1s;
  }

  .welcomeback{
    opacity: 40%;
    transition: 1s;
  }
  #welcomehide{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #9054a8;
    opacity: 70%;
    transition: 1s;
  }
